<%- include('../partials/head', {
    scripts: [
        {
            url: "https://unpkg.com/axios/dist/axios.min.js",
            defer: ""
        },
        {
            url: "/js/dashboard.js",
            defer: "defer"
        }
    ],
    meta: [
        {
            name: "host-folder-id",
            content: parent,
        }
    ]
    }) %>

    <div class="linear-gradient-background">
        <div class="dash">
            <div class="dash__container">
                <div class="dash__nine">
                    <p class="nine">09</p>
                </div>
                <div class="dash__nav-container">
                    <h2 class="dash__nav-title">NimbusDashboard</h2>
                    <nav class="dash__nav">
                        <a href="#" class="dash__nav-link">Shared files</a>
                        <a href="/dashboard" class="dash__nav-link">My files</a>
                    </nav>
                </div>
                <div class="dash__directory">
                    <div class="dash__directory-top">
                        <% if( typeof parentName !== "undefined") { %> 
                            <a href="/view/<%= parentId %>" style="text-decoration: none; color: inherit;">
                                <h1 class="dash__directory-title"><%= parentName %> </h1>
                            </a>
                        <% } else { %> 
                            <a href="/dashboard" style="text-decoration: none; color: inherit;">
                                <h1 class="dash__directory-title">My files</h1>
                            </a>
                        <% } %> 
                        <form action="#" class="search">
                            <input class="search__input" type="text" placeholder="Search">
                            <button class="search__btn"><i class="fas fa-search"></i></button>
                        </form>
                        <div class="drop-down-container">
                            <button class="drop-down-btn drop-down-btn--user">
                                <div class="user-icon">
                                </div>
                            </button>
                            <div class="drop-down drop-down-user" style="display: none;">
                                <a class="drop-down-item" href="#">Profile</a>
                                <a class="drop-down-item" href="/users/logout">Log out</a>
                            </div>
                        </div>
                    </div>
                    <div class="dash__directory-labels">
                        <div class="drop-down-container">
                            <button class="btn btn--white btn--small drop-down-btn drop-down-btn--new">New
                                &#43;</button>
                            <div class="drop-down drop-down-new" style="display: none;">
                                <button class="drop-down-item" id="upload-file-btn">Upload file</button>
                                <input id="file-input" type="file" onclick="this.value = null"
                                    name="file" style="display: none;" multiple/>
                                <button class="drop-down-item" id="new-folder-btn">New folder</button>
                            </div>
                        </div>
                        <div class="dash__directory-list-item dash__directory-list-item--title">
                            <input class="dash__directory-select hidden" type="checkbox">
                            <div
                                class="dash__directory-list-label-container dash__directory-list-label-container--name">
                                <p class="dash__directory-list-label">Name</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">Size</p>
                            </div>
                            <div class="dash__directory-list-label-container">
                                <p class="dash__directory-list-label">Date added</p>
                            </div>
                        </div>
                    </div>
                    <div class="dash__directory-list">
                        <%- include('../partials/item_list', {items: items, parent: parent}); %>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('../partials/footer') %>