<%- include('partials/head') %>
    <div class="signup">
        <div class="gradient-circle">
        </div>
        <div class="row">
            <div class="signup__container">
                <form action="/users/signup" class="form" method="POST">
                    <div class="form__nine">
                        <p class="nine">09</p>
                    </div>
                    <div class="form__group">
                        <h1 class="form__title">Sign Up</h1>
                    </div>
                    <div class="form__group">
                        <%- include('partials/messages') %>
                    </div>
                    <div class="form__group">
                        <input class="form__firstname" type="text" name="firstName" placeholder="First name"
                            <%= (typeof firstName !== 'undefined') ? `value=${firstName}` : '' %> >
                    </div>
                    <div class="form__group">
                        <input class="form__lastname" type="text" name="lastName" placeholder="Last name"
                            <%= (typeof lastName !== 'undefined') ? `value=${lastName}` : '' %> >
                    </div>
                    <div class="form__group">
                        <input class="form__email" type="text" name="email" placeholder="Email"
                            <%= (typeof email !== 'undefined') ? `value=${email}` : '' %> >
                    </div>
                    <div class="form__group">
                        <input class="form__username" type="text" name="userName" placeholder="Username"
                            <%= (typeof userName !== 'undefined') ? `value=${userName}` : '' %> >
                    </div>
                    <div class="form__group">
                        <input class="form__password" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form__group">
                        <input class="form__repeat-password" type="password" name="repeatPassword"
                            placeholder="Repeat password">
                    </div>
                    <div class="form__group">
                        <button class="btn btn--transparent btn--medium">Submit</button>
                    </div>
                    <a href="/" class="form__link">
                        <nav class="form__nav">
                            <img src="https://img.icons8.com/ios/64/000000/circled-left-2.png"
                                class="form__nav-arrow" />
                            <p class="form__nav-label">Home </p>
                        </nav>
                    </a>
                </form>
                <div class="logo-box">
                    <h1 class="logo">NimbusNine</h1>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>